
// Positioning (flex)

.d-flex{
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.flex-row {
	flex-direction: row;
}
.h-100 {
	height: 100%;
}
.justify-center {
	justify-content: center;
}
.justify-end {
	justify-content: flex-end;
}
.justify-between {
	justify-content: space-between;
}
.align-center{
    align-items: center;
}
.align-end{
    align-items: flex-end;
}
.center {
	text-align: center;
}

// Display

@media (max-width: $md - 1px){
	.desktop-only{
		display: none;
	}
}
@media (max-width: $sm - 1px){
 	.mobile-only {
		display: block;
	 }
	.hide-mobile {
		 display: none;
	}
	.tablet-only{
		display: none;
	}
}
@media (min-width: $sm ){
	.mobile-only {
	   display: none !important;
	}
}
@media (min-width: $md ){
	.desktop-only{
		display: initial;
	}
}
@media (min-width: $lg ){
	.tablet-only{
		display: none;
	 }
}

// no padding / margins

.no-padding {
	padding: 0;
}
.no-padding-top{ 
	padding-top: 0;
}
.no-padding-bottom {
	padding-bottom: 0;
}
.no-margin-top{ 
	margin-top: 0;
}
.no-margin-bottom{ 
	margin-bottom: 0;
}
.no-margin li{
	margin:0;
}

// generic padding/margins

// padding

.pl-0{
	padding-left: 0;
}
.pr-0{
	padding-right: 0;
}
.p-30{
	padding: 30px;
}
.pt-30{
	padding-top: 30px;
}
.pb-30{
	padding-bottom: 30px;
}

// margin

.mb-5 {
	margin-bottom: 5px;
}
.mb-15 {
	margin-bottom: 15px;
}
.mb-25 {
	margin-bottom: 25px;
}
.mr-25 {
	margin-right: 25px;
}
.mt-25 {
	margin-top: 25px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mt-100 {
	margin-top: 100px;
}

@media (max-width: $lg - 1px){
	.mt-100 {
		margin-top: 50px;
	}
}
@media (max-width: $sm - 1px){
	.mb-50 {
		margin-bottom: 25px;
	}
	.mt-100 {
		margin-top: 50px;
	}
}