.card-block {
  position: relative;
  z-index: 1;

  .inner {
    .body {
      h2 {
        color: color(green);
        font-size: 35px;
        margin-bottom: 40px;

      }
    }
  }

  .card {
    border-radius: 20px;
    padding: 40px 20px;
    margin: 10px 0;
    min-height: 520px;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    border: none;

    &.full {
      background-size: cover;
    }

    &.contained {
      background-size: contain;
      background-position: bottom;
    }

    .inner {
      .body {
        .btn {
          position: absolute;
          left: 20px;
          right: 0;
          bottom: 40px;
        }

        &.light {
          .title_tag {
            background-color: color(green, darker);
            color: color(green);
          }

          h4 {
            color: color(green, darker);
          }

          .bullet_list {
            li {
              color: color(green, darker);
            }
          }

          .btn {
            background-color: color(green, darker);
            color: color(green);

            &:after {
              background-color: color(green);
            }
          }
        }

        &.dark {
          .title_tag {
            background-color: color(green);
            color: color(green, darker);
          }

          h4 {
            color: color(green);
          }

          .bullet_list {
            li {
              color: color(white);
            }
          }

          .stat {
            span {
              color: color(green);
            }
          }

          .description {
            p {
              color: color(white);
            }
          }

          .btn {
            background-color: color(green);
            color: color(green, darker);

            &:after {
              background-color: color(green, darker);
            }
          }
        }

        .title_tag {
          background-color: color(white);
          border-radius: 30px;
          padding: 10px 15px;
          max-width: 150px;

          h3 {
            font-size: 12px;
            line-height: 22px;
            margin: 0;
            font-weight: $font-400;
          }
        }


        h4 {
          font-size: 18px;
          line-height: 24px;
          margin: 15px 5px;
        }

        .inner_image {
          position: absolute;
          bottom: 20px;
          left: 0;
          right: 0;
          margin: 0 auto;
        }

        .description {
          padding: 15px 5px;

          p {
            font-weight: $font-400;
            font-size: 14px;
            line-height: 22px;
          }
        }

        .bullet_list {
          display: flex;
          flex-direction: column;
          list-style-type: none;
          padding: 20px 0;
          margin: 0;

          &.two-column {
            display: block;
            column-count: 2;
            li {
              &:last-child{
                margin-bottom: 10px;
              }
            }
          }

          li {
            color: color(white);
            display: flex;
            font-size: 14px;
            margin-bottom: 25px;

            &:last-child {
              margin: 0;
            }

            span {
              display: flex;
              margin: 0 10px;
              width: 40px;
            }
          }
        }

        .stat {
          padding: 20px 0;
          position: absolute;
          bottom: 20px;
          right: 20px;

          span {
            color: color(green, darker);
            font-weight: $font-800;
            font-family: $primary_font;
            font-size: 60px;
          }

        }

        .image_description {
          background-color: color(white);
          padding: 20px;
          border-radius: 20px;
          position: absolute;
          bottom: 40px;
          left: 20px;
          right: 20px;
          &.half {
            max-width: 564px;
            width: 100%;
          }
          p {
            color: color(green, darker);
            font-size: 14px;
            margin: 0;
          }
        }
      }
    }
  }
}