.card-grid {
  padding: 75px 0 75px 0;

  .image-container {
    padding-bottom: 30px;
  }
  .row {
    &.grid {
      margin-left: -40px;
    }
  }
  .inner {
    .body {
      h2 {
        font-size: 35px;
        font-weight: $font-700;
        line-height: 44px;
        color: color(green, darker);
      }

      .icon-container {
        max-height: 45px;
      }
    }
  }

  .scard {
    margin: 20px 0;

    .inner {
      display: flex;
      height: 100%;
      
      .body {
        padding-right: 40px;
        padding-left: 40px;
        border-right: 1px solid color(green);
      }

      h3 {
        color: color(green, darker);
        font-size: 18px;
        line-height: 24px;
      }

      p {
        font-size: 14px;
        font-weight: $font-400;
        line-height: 22px;
      }

      .icon-container {
        margin-bottom: 20px;

        img {
          max-height: 45px;
        }

      }
    }

    &:last-child {
      .inner {
        .body {
          border: none;
        }
      }
    }
  }
}

// .home {
//   .card-grid:nth-child(1) {
//     padding-top: 0;
//   }
// }
