.card-video-with-stats {
  position: relative;

  .image-container {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    border-radius: 70px;
    position: relative;

    &:before {
      background: rgba(color(black), .55);
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 100%;
      border-radius: 70px;
    }
  }
}