.c-footer {
  background: color(green, dark);
  background: linear-gradient(90deg, rgba(color(green, darker), 1) 0%, rgba(color(green, dark), 1) 100%, rgba(color(green, dark), 1) 100%);
  padding: 70px 0 70px 0;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  // position: absolute;
  // left: 0;
  // right: 0;
  // bottom: 0;

  h3,
  p,
  ol li,
  ul li {
    color: color(white);
  }

  h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  p {
    font-size: 10px;
    line-height: 15px;
  }

  ol {
    padding-left: 10px;
    li {
      font-size: 10px;
      line-height: 15px;
      font-weight: $font-600;
      list-style-position: outside;

      a {
        color: color(green);
        text-decoration: underline;
      }
    }
  }

  ul {
    display: flex;
    list-style-type: none;

    li {
      font-size: 10px;
      line-height: 15px;
      margin-right: 10px;
      font-weight: $font-600;

      a {
        color: color(green);
        text-decoration: underline;
      }
    }
  }

  p {
    &.logo {
      display: flex;

      img {
        margin-right: 20px;
      }
    }
  }
}