.header-desktop,
.header-mobile {
  background: color(green, dark);
  background: linear-gradient(90deg, rgba(color(green, dark), 1) 0%, rgba(color(green, darker), 1) 100%, rgba(color(green, darker), 1) 100%);

  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 30px 0;

  @media (max-width: $sm - 1px) {
    padding-top: 0;
  }

  .logo.dark {
    display: none;
  }

  &.sticky {
    background-color: color(white);
    position: fixed;
    z-index: 999;
    padding: 30px 0;

    .logo {
      display: none;
    }

    .logo.dark {
      display: block;
    }

    li {
      a {
        color: color(green, darker);
      }

    }
  }

  li {
    font-family: $primary_font;
    list-style: none;
    margin: 0;

    i,
    span {
      color: color(green, darker);
    }

    i {
      margin-right: 10px;
    }

    span {
      position: relative;
      left: -20px;
    }

    a {
      font-size: 16px;
      padding: 15px 10px;
      border-radius: 100px;
      font-weight: $font-400;
      &:hover {
        color: color(green,dark);
      }
    }
  }
  nav {
    &.primary {
      background-color: color(white);
      padding: 15px;
      border-radius: 32px;
    }
  }
}



@media (max-width: $md - 1px) {
  .header-desktop {
    display: none;
  }

  .header-mobile {

    .navbar-toggler {
      border: none;
      background: white;
      border-radius: 100px;
      width: 46px;
      height: 45px;
      margin: 0 20px;

      &:focus {
        box-shadow: none;
      }

      .navbar-toggler-icon {
        background-image: none !important;
        background-color: color(black);
        height: 3px;
        width: 25px;
        margin: 10px 0;
        position: relative;
        transition: all 0.35s ease-out;
        transform-origin: center;

        &:before {
          display: block;
          background-color: color(black);
          height: 3px;
          content: "";
          position: relative;
          top: -7px;
          transition: all 0.15s ease-out;
          /*taken down to hide quicker*/
          transform-origin: center;
        }

        &:after {
          display: block;
          background-color: color(black);
          height: 3px;
          content: "";
          position: relative;
          top: 4px;
          transition: all 0.35s ease-out;
          transform-origin: center;
        }
      }
    }



    .navbar {
      position: absolute;
      left: 0;
      right: 0;
      background: none !important;

      .sub-toggle {
        display: none;
      }




      ul {
        padding: 50px 0;

        li {
          position: relative;


          a {
            color: color(white);
            font-size: 30px;
            padding: 16px;
            display: block;

            &:hover {
              background: none;
              color: color(black);
            }

            i {
              color: color(white);
            }
          }
        }


      }

      .mobile_logo {
        padding: 0 20px;
      }

      &.open {
        background-color: color(black) !important;
      }
    }


    img.logo {
      max-width: 200px;
    }

    .secondary {
      display: flex;
      justify-content: space-between;
    }

    ul {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $md) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;

      li {
        margin-bottom: 0;
      }
    }


  }
}

@media screen and (max-width: 1264px) and (min-width: 1023px) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: block;

    .logo {
      max-width: 150px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;

      li {
        margin: 0;
      }
    }
  }
}


@media screen and (max-width: 1023px) and (min-width: 992px) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: block;

    .logo {
      max-width: 100px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;

      li {
        margin: 0;
      }
    }
  }
}